<!-- ttulo de la sección -->
<section class="container-fluit">
    <h1 class="tituloGestion mb-3 pt-2 pb-2 ps-2">
        Gestión de Mensajes
    </h1>
</section>

<section class="container-fluit  ">
    <div class="row text-start">
        <div class="col-md-12">

            <div class="row p-0 m-0 ">
                <div class="col col-md-12 ">

                    <!-- tabla para ver la información del servicio de depilacion -->
                    <div class="table-responsive p-0">
                        <table class="table table-borderless mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">DATOS USUARIO</th>
                                    <th  scope="col">COMENTARIOS</th>
                                    <th scope="col">FECHA</th>
                                    <th scope="col">HORA</th>
                                    <th scope="col" id="boton-eliminar">ELIMINAR</th>
                                </tr>
                            </thead>

                            <!-- Tabla con el listado de mensajes -->
                            <tbody *ngFor="let item of data">
                                <tr>
                                    <p>Id: {{ item.id }}</p>
                                    <td class="listado">
                                        <p>Nombre: {{ item.nombre }} {{ item.apellido }}</p>
                                        <p>Teléfono: {{ item.telefono }}</p>
                                        <p>Email: {{ item.email }}</p>
                                    </td>
                                    <td class="des">{{item.texto}}</td>
                                    <td class="fecha">{{item.fecha}}</td>
                                    <td>{{item.hora}}</td>
                                    <td>
                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                            data-bs-target="#eliminarServicio" (click)="eliminarMensaje(item.id)">
                                            Eliminar
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>