<!-- <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="/servicios/depilacion">Depilación</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/servicios/peluqueria">Peluquería</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/servicios/manicure">Manicure</a>
    </li>
</ul>
<router-outlet></router-outlet> -->

<!-- nuevo -->

<body>
  <div class="container">
    <input type="radio" name="s"routerLink="/servicios/depilacion" id="depilacion">
    <input type="radio" name="s" routerLink="/servicios/peluqueria"id="peluqueria">
    <input type="radio" name="s" routerLink="/servicios/manicure" id="manicure">
    
    <nav>
      <div class="slider"></div>
      <label class="depilacion" for="depilacion">
      <i class="fas fa-depilacion"></i>Depilación
      </label>
      <label class="peluqueria" for="peluqueria">
      <i class="fas fa-peluqueria"></i>Peluquería
      </label>
      <label class="manicure" for="manicure">
        <i class="fas fa-manicure"></i>Manicure
      </label>
     
    </nav>
  </div>
</body>

<router-outlet></router-outlet>

 