   table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 14px;
    margin-top: 30px;
  }
  
  th {
    text-align: center;
    background-color: #514caf;
    color: #fff;
    padding: 8px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
   
  }
 
  td {
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
   
  }
  
  .descrip{

    text-align: left;

  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 1.2rem 1.4rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
  }
  button:hover {
    background-color: white;
    color: black;
    border: 1px solid #4CAF50;
    transform: scale(1.1);
  }
