<main>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="../../../assets/images/logoBeautyCare.png" alt="Logo BeautyCare">
            </div>
            <span class="logo_name">BeautyCare</span>
        </div>
        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="#">
                    <i class="uil uil-home"></i>
                    <span class="link-name">Dashboard</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-server-alt"></i>
                    <span class="link-name">Servicios</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-schedule"></i>
                    <span class="link-name">Reservas</span>
                </a></li> 
            </ul>
            <ul class="logout-mod">
                <li><a href="#">
                    <i class="uil uil-signout"></i>
                    <span class="link-name">Logout</span>
                </a></li>
                <li class="mode"><a href="#">
                    <i class="uil uil-moon"></i>
                    <span class="link-name">Dark Mode</span>
                </a>
                <div class="mode-toggle">
                <span class="switch"></span>
                </div>
                </li>
            </ul>
        </div>
    </nav>
</main>