<main>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="../../../assets/images/logoBeautyCare.png" alt="Logo BeautyCare">
            </div>
            <span class="logo_name">BeautyCare</span>
        </div>
        <div class="menu-items">
            <ul class="nav-links ">
                <li><a>
                        <i class="uil uil-clipboard-notes" routerLink="dashboard-admin"></i>
                        <span class="link-name fs-5" routerLink="dashboard-admin">Agenda de trabajo</span>
                    </a></li>
                <li><a>
                        <i class="uil uil-edit" routerLink="servicios/depilacion"></i>
                        <span class="link-name fs-5" routerLink="servicios/depilacion">S. Depilación</span>
                    </a></li>
                <li><a>
                        <i class="uil uil-edit" routerLink="servicios/peluqueria"></i>
                        <span class="link-name fs-5" routerLink="servicios/peluqueria">S. Peluquería</span>
                    </a></li>
                <li><a>
                        <i class="uil uil-edit" routerLink="servicios/manicure"></i>
                        <span class="link-name fs-5" routerLink="servicios/manicure">S. Manicure</span>
                    </a></li>
                <li><a>
                        <i class="uil uil-schedule" routerLink="reservas"></i>
                        <span class="link-name fs-5" routerLink="reservas">Reservas</span>
                    </a></li>
                <li><a>
                        <i class="uil uil-users-alt" routerLink="cliente-admin"></i> 
                        <span class="link-name fs-5" routerLink="cliente-admin">Clientes</span>
                    </a>

                </li>
                <li><a>
                        <i class="uil uil-envelope" routerLink="mensajes-admin"></i>
                        <span class="link-name fs-5" routerLink="mensajes-admin">Mensajes</span>
                    </a></li>


            </ul>
            <ul class="logout-mode">
                <li><a>
                        <i class="uil uil-signout"></i>
                        <span (click)="signOut()" class="link-name fs-4">Logout</span>
                    </a></li>
                <li class="mode"><a>
                    </a>
                    <div class="mode-toggle">
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>
            <span id="title">{{ titleService.getTitle()}}</span>
        </div>
        <div class="dash-content">
            <div class="overview">
                <router-outlet></router-outlet>
            </div>
        </div>
    </section>
</main>