<div class="navbar">
  <div class="logo-container">
    <img class="logo" src="../../../assets/images/logoBeautyCare.png" alt="logo">
    <h1 class="titulonav">BeautyCare</h1>
  </div>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/servicios/depilacion">Servicios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contacto">Contacto</a>
    </li>
  </ul>
  <div class="avatar-container">

    <div *ngIf="data.length > 0">
      <img
        [src]="loggedIn? (imagePath || '../../../assets/images/login/5-removebg-preview.png') : '../../../assets/images/logoBeautyCare.png'"
        class="user-pic" (click)="toggleMenu()">

      <div class="user-info" *ngFor="let user of data">
        <div class="sub-menu-wrap" id="subMenu">
          <div class="sub-menu dropstart">

            <div class="user-info" *ngFor="let user of data">
              <!-- foto del submenu -->
              <img title="imagen-usuario" [src]= "imagePath">
              <h3> {{user.nombre}} {{user.apellido}}</h3>
            </div>
            <hr>
            <!-- icono de perfil y ruta para editar perfil -->
            <a href="#" class="sub-menu-link" routerLink="/perfil-cliente">
              <img title="icono-perfil" src="../../../assets/images/profile.png">
              <p>Editar Perfil</p>
            </a>
            <!-- icono de cerrar sesion y ruta para cerrar sesion -->
            <a (click)="signOut()" class="sub-menu-link">
              <img title="icono-cerrar-sesion" src="../../../assets/images/logout.png">
              <p>Cerrar Sesión</p>
            </a>
          </div>
        </div>

      </div>
    </div>
    <div *ngIf="data.length === 0">
      <button class="btn-login " routerLink="/login">
        Iniciar Sesión
      </button>
    </div>
  </div>
</div>
