*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (max-width: 1400px) {
.navbar {
  margin: 0;
  padding: 0;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: #ca50e9;
  padding: 10px 10px;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;

}

.titulonav {
  font-size: 2.5em;
  font-weight: bold;
  font-family: 'Dancing Script';
  margin-left: 3px;
  margin-top: 10px;
}


.logo {
  width: 60px;
  border-radius: 10em;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.1);
}

.logo:hover {
  transform: scale(1.1);
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 10px;
}

.nav-link {
  text-decoration: none;
  color: #fcfcfc;
  font-size: 2em;
  font-family: 'Times New Roman', Times, serif;
  cursor: pointer;
  font-style: italic;
}

.nav-link:hover {
  transform: scale(1.1);
}

.avatar-container {
  margin-left: 10px;
  margin-right: 20px;
}

.avatar {
  width: 70px;
  cursor: pointer;
  border-radius: 50%;
  background-image: -webkit-radial-gradient();
  background-image: radial-gradient();
  background-color: #fff;
}

}


/* Media Query para pantallas medianas */
@media  (max-width: 990px) {
  .navbar {
    font-size: 1em;
     flex-direction: row;
     justify-content: center;
   }
   
   .logo-container {
     order: 1;
     flex-basis: 30%;
     justify-content: flex-center;
     align-items: center;
   }
   .titulonav{
     font-size: 2em;
   }
   .logo{
     width: 50px;
     margin-bottom: 10px;

   }
 
   .nav {
     order: 2;
     flex-basis: 100%;
     justify-content: flex-center;
   }
 
   .avatar-container {
     order: 3;
     justify-content: flex-end;
     margin: 5px
   }
}



/* Media Query para pantallas más pequeñas */
@media (max-width: 720px){
  .navbar {
   font-size: 1em;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: center;
  }
  
  .logo-container {
    order: 1;
    flex-basis: 40%;
    justify-content: flex-start;
  }

  .nav {
    order: 2;
    flex-basis: 100%;
    justify-content: flex-center;
  }

  .avatar-container {
    order: 3;
    justify-content: flex-end;
  }
}

@media (max-width: 540px) {
  .navbar {
   font-size: 0.8em;
    flex-direction: row;
    justify-content: center;
  }
  
  .logo-container {
    order: 1;
    flex-basis: 50%;
    justify-content: flex-start;
    margin-top: 0;
    margin-bottom: 0;
  }
  /* .titulonav{
    font-size: 2em;
  } */
  .logo{
    width: 30px;
    height: 30px;
  }

  .nav {
    order: 2;
    font-size: 0.8;
    flex-basis: 100%;
    justify-content: flex-center;
  }

  .avatar-container {
    order: 3;
    justify-content: flex-end;
    margin: 5px
  }
}































@media (max-width: 350px) {
  .navbar {
   font-size: 0.8em;
    flex-direction: row;
    justify-content: center;
  }
  
  .logo-container {
    order: 1;
    flex-basis: 50%;
    justify-content: flex-start;
    margin-top: 0;
    margin-bottom: 0;
  }
  /* .titulonav{
    font-size: 2em;
  } */
  .logo{
    width: 30px;
    height: 30px;
  }

  .nav {
    order: 2;
    font-size: 0.8;
    flex-basis: 100%;
    justify-content: flex-center;
  }

  .avatar-container {
    order: 3;
    justify-content: flex-end;
    margin: 5px
  }
}
