<body>
  <div class="hero">
    <nav>
      <img title="logo-beauty-care" src="../../../assets/images/logoBeautyCare.png" class="logo">
      <ul>
        <li><a routerLink="/"> Inicio</a></li>
        <li><a routerLink="/servicios"> Servicios</a></li>
        <li><a routerLink="/contacto"> Contacto</a></li>
        <li><a routerLink="/preguntfrecuent">Preguntas Frecuentes</a></li>
      </ul>
      <img title="imagen-usuario" src="../../../assets/images/user.png" class="user-pic" (click)="toggleMenu()">
      <div class="sub-menu-wrap" id="subMenu">
        <div class="sub-menu dropstart">
          <div class="user-info">
            <img title="imagen-usuario" src="../../../assets/images/user.png">
            <h3>Francisco González</h3>
          </div>
          <hr>

          <a href="#" class="sub-menu-link" routerLink="/perfil-cliente">
            <img title="icono-perfil" src="../../../assets/images/profile.png">
            <p>Editar Perfil</p>
          </a>
          <a href="#" class="sub-menu-link">
            <img title="icono-configuracion" src="../../../assets/images/setting.png">
            <p>Configuración</p>
            
          </a>
          <a href="#" class="sub-menu-link">
            <img title="icono-cerrar-sesion" src="../../../assets/images/logout.png">
            <p>Cerrar Sesión</p>
          </a>

        </div>
      </div>
    </nav>
  </div>
</body>


