/*Nuevo CSS del indio APUS*/
/* pequeñas */
@media (max-width: 768px) {
    nav {
        background: rgba(146, 48, 185, 0.53);
        padding: 5px 1px 0px;
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0;
      }
    
      nav ul.titulosnav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;
      }
    
      nav ul.titulosnav li {
        display: inline-block;
        list-style: none;
        margin: 0;
        padding: 0;
        margin-left: 10px;
        margin-right: 30px;
      }
    
      nav ul.titulosnav li:not(:last-child) {
        margin-right: 5px; /* Ajusta este valor según tus necesidades */
        
      }
    
      nav ul.titulosnav li a {
        text-decoration: none;
        font-style: italic;
        color: #fcfcfc;
        text-shadow: 1px 1px 3px black;
        font-size: 1.2rem;
      }
      nav ul li a:hover {
        color: rgb(196, 187, 196);
    }
    
      .btn-login {
        width: 100%;
        /* es lo mejor que pude hacer con los padding */
        padding: 2px 2px ; 

        margin-right: 1px;
        font-size: 0.8rem;
        color: #fcfcfc;
        color: #fff;
        background-color: #35a04c;
        border: none;
        text-shadow: 1px 1px 3px black;
        border-radius: 2em;
        box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: all 0.3s ease;
        text-align: center;
        font-style: italic;
      }
    
      .btn-login:hover {
        background-color: #C10079;
      }
    
      .logo {
        width: 70px;
        cursor: pointer;
        border-radius: 10em;
        box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.1);
        margin: 15px 0px; /* Ajusta este valor según tus necesidades */
      }
    
      .logo:hover {
        transform: scale(1.1);
      }
    }




/* para pantallas grandes  */
@media (min-width: 769px) {

    nav {
        background: rgba(146, 48, 185, 0.53);
        /* width: 100%; */
        padding: 10px 5%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 1;
    }

    nav ul {
        width: auto;
        text-align: center;
        font-size: 3.0rem;
        font-family: 'Times New Roman', Times, serif;
        padding: auto;
    }

    nav ul li {
        display: inline-block;
        list-style: none;
        margin: 10px 20px;
    }

    nav ul li a {

        text-decoration: none;
        font-style: italic;
        margin-bottom: 20px;
        color: #fcfcfc;
        text-shadow: 1px 1px 3px black;
          font-size: 2.5rem;


    }

    nav ul li:hover {
        transform: scale(1.1);
    }

    nav ul li a:hover {
        color: rgb(196, 187, 196);
    }


    .btn-login {
        display: inline-block;
        padding: 20px 20px;
        font-size: 1.8rem;
        font-weight: bold;
        color: #fff;
        background-color: #35a04c;
        border: none;
        border-radius: 2em;
        box-shadow: -5px 15px 15px rgba(0, 0, 0, 0.1);
        text-align: center;
        transition: all 0.3s ease;
        cursor: pointer;
        font-style: italic;
        color: #fcfcfc;
        text-shadow: 1px 1px 3px black;
    }

    .btn-login:hover {
        background-color: #C10079;
        transform: scale(1.1);
    }

    .logo {
        width: 110px;
        border-radius: 50%;
        cursor: pointer;
        margin-left: 5px;

    }

    .logo:hover {
        transform: scale(1.1);
    }

}


  /* para pantallas medianas (entre 769px y 992px) */
@media (min-width: 769px) and (max-width: 992px) {
  nav ul li {
    margin: 5px 5px; /* Ajusta este valor según tus necesidades */
    font-size: 2.5rem;
  }

  .btn-login {
    font-size: 1.2rem; /* Ajusta este valor según tus necesidades */
  }

  .logo {
    margin: 5px 0px; /* Ajusta este valor según tus necesidades */
  }
}

/* para pantallas grandes (más de 992px) */
@media (min-width: 993px) {
    nav ul li {
    font-size: 2.5rem;
    }
  /* No se requiere ningún cambio adicional en este punto */
}