<!-- Logo y título de la página -->
<div class="navbar">
  <div class="logo-container">
    <img  class="logo me-2" src="../../../assets/images/logoBeautyCare.png" alt="logo">
    <h1 class="titulonav">BeautyCare</h1>
  </div>

  <!-- Opciones de ruta -->
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/servicios/depilacion">Servicios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contacto">Contacto</a>
    </li>
  </ul>

  <!-- Foto del avatar e iniciar sesión -->
  <div class="avatar-dropdown">
    <img [src]="imagePath" class="user-avatar" (click)="toggleSubMenu()" alt="User Avatar">

    <!-- Menú desplegable -->
    
    <div #subMenu class="submenu-container" [style.display]="submenuVisible ? 'block' : 'none'">

      <!-- sub menu sin login -->
      <a class="sinLogin" *ngIf="!loggedIn" (click)="onClick('/login'); toggleSubMenu()">Iniciar Sesión</a>
      <a class="sinLogin" *ngIf="!loggedIn" (click)="onClick('/login'); toggleSubMenu()">Registrarse</a>


      <!-- submenu con login  -->

      <div class="user-info" *ngFor="let user of data">
        <img [src]="imagePath" alt="User Avatar">
        <div>
          <h3 id="info-cli">{{ user.nombre }} {{ user.apellido }}</h3>
        </div>
      </div>

      <!-- Iconos y sus rutas  -->
      <a class="link-name " *ngIf="loggedIn" (click)="onClick('/perfil-cliente'); toggleSubMenu()">
        <i class="uil uil-edit"></i>
        <span >Mi
          Perfil</span>
      </a>


      <a class="link-name" *ngIf="loggedIn" (click)="onClick('/perfil-cliente'); toggleSubMenu()">
        <i id="iconos" class="uil uil-schedule"></i>
        <span >Mis Reservas</span>
      </a>


      <a  class="link-name"   *ngIf="loggedIn" (click)="onClick('/perfil-cliente'); toggleSubMenu()">
        <i id="iconos" class="uil uil-setting"></i>
        <span >Configuración</span>
      </a>


      <a class="link-name"   *ngIf="loggedIn" (click)="signOut(); toggleSubMenu()">
        <i id="iconos" class="uil uil-signout"></i>
        <span >Cerrar Sesión
        </span>

      </a>
    </div>
  </div>
</div>