.tituloGestion {
  text-align: start;
  font-size: 2.1em;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  color: rgb(6, 0, 0);
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(154, 56, 214, 0.322);
}


#depilacion-sub-dropdown,
#peluqueria-sub-dropdown,
#manicure-sub-dropdown {
  display: none;
  /* background-color: rgb(149, 58, 234); */
}

.details {
  font-size: 1.5em;
  text-align: start;
  font-family: 'Times New Roman', Times, serif;
  border-bottom: 4px solid purple;

}

#btnCategoria {
  background-color: rgb(149, 58, 234);
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
  margin-left: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 5px;
}

#btnCategoria:hover {
  background-color: rgb(149, 58, 234);
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
  margin-left: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 5px;
}

#btnServicio {
  background-color: rgb(149, 58, 234);
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
  margin-left: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 5px;
}

#btnServicio:hover {
  background-color: rgb(149, 58, 234);
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
  margin-left: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 5px;
}


/* Estilos para las tarjetas */
.card-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* gap: 10px; */
}

.card {

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#Selecion {
  font-size: 1.5em;
  /* Ajustar el tamaño de la fuente según tus necesidades */
  text-align: start;
  border-bottom: 4px solid purple;
  /* Agregar una línea sólida de color púrpura debajo del texto */
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-body {
  padding: 20px;
}

/* Estilos para el primer card */
#first-card h3 {
  margin-top: 0;
  font-weight: bold;
  text-align: center;
}

#Calendario {
  margin-top: 20px;
}

/* Estilos para el segundo card */
#second-card h3 {
  margin-top: 20;
  font-weight: bold;
  text-align: center;
}
/* Estilos para el tercer card */
#third-card h3 {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: bold;
  text-align: center;
}

#third-card p {
  text-align: justify;
  margin-bottom: 10px;
}

.horarios {
  margin-top: 0px;
  text-align: center;

}

.horarios td {
  padding: 10px;
  text-align: center;

}

.horarios button {
  background-color: #a46ee7;
  border: none;
  color: white;
  padding: 7px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.horarios button:hover {
  background-color: #630374;
}

.horarios button.active {
  /* Your styles for the active state */
  background-color: #00a822;
  color: white;
}

.horarios button.is-disabled {
  background-color: gray;
  color: white;
  cursor: not-allowed;
}

.horarios button.active-disabled {
  background-color: #00a822;
  color: white;
}





.confirmar-reserva {
  background-color: #35ba00;
  border: none;
  color: white;
  
  text-align: center;
  justify-content: center;
  font-size: 1.2em;
  margin-top: 25px;
  cursor: pointer;
  border-radius: 5px;


 
    color: #fff;
   
   
    padding: 8px 8px 8px;
}

.confirmar-reserva:hover {
  background-color: #0b8000;
  border: 1px solid #67C5E5;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}