<!-- codigo antiguo -->
<body>
    <section class="wrapper">
        <div class="form signup">
            <header>Regístrate</header>
            <form #registerForm="ngForm" (ngSubmit)="handleRegister(registerForm.value)">
                <input id="email-registro" name="email" ngModel placeholder="Email" id="email" type="email" class="input-field"/>
                <input id="password-registro" name="password" ngModel placeholder="Contraseña" id="password" type="password" class="input-field"/>
                <input id="nombre-registro" name="nombre" ngModel placeholder="Nombre" id="nombre" type="texto" class="input-field"/>
                <input id="apellido-registro" name="apellido" ngModel placeholder="Apellido" id="apellido" type="texto" class="input-field"/>
                <input id="telefono-registro" name="telefono" ngModel placeholder="Teléfono" id="telefono" type="text" class="input-field"/>
                <input type="submit" value="Guardar" />
            </form>
        </div>

        <div class="form login">
            <header>Iniciar Sesión</header>
            <form #loginForm="ngForm" (ngSubmit)="handleLogin(loginForm.value)">
                <input id="email-login" name="email" ngModel placeholder="Email" id="email" type="email" class="input-field"/>
                <input id="password-login" name="password" ngModel placeholder="Password" id="password" type="password" class="input-field"/>
                <input type="submit" value="Ingresar" />
            </form>
        </div>
    </section>
</body> 

<!--  nuevo  -->
<!-- 
<body>
    <section class="wrapper">
        <div class="form signup">
            <header>Regístrate</header>
            <form [formGroup]="formularioRegistro" (ngSubmit)="handleRegister()">
                <input formControlName="email" id="email-registro" name="email" ngModel placeholder="Email" id="email" type="email" class="input-field"/>
                <input formControlName="password" id="password-registro" name="password" ngModel placeholder="Contraseña" id="password" type="password" class="input-field"/>
                <input formControlName="nombre" id="nombre-registro" name="nombre" ngModel placeholder="Nombre" id="nombre" type="texto" class="input-field"/>
                <input formControlName="apellido" id="apellido-registro" name="apellido" ngModel placeholder="Apellido" id="apellido" type="texto" class="input-field"/>
                <input formControlName="telefono" id="telefono-registro" name="telefono" ngModel placeholder="Teléfono" id="telefono" type="text" class="input-field"/>
                <input type="submit" [disabled]="!formularioRegistro.valid" color="success" value="Guardar" />
                <input expand="full" type="button" [routerLink]="['/home']" value="Regresar">
                </input>
            </form>
        </div>

        <div class="form login">
            <header>Iniciar Sesión</header>
            <form #loginForm="ngForm" (ngSubmit)="handleLogin(loginForm.value)">
                <input id="email-login" name="email" ngModel placeholder="Email" id="email" type="email" class="input-field"/>
                <input id="password-login" name="password" ngModel placeholder="Password" id="password" type="password" class="input-field"/>
                <input type="submit" value="Ingresar" />
            </form>
        </div>
    </section>
</body> -->
