/* body{
    
   background-image: url("../assets/images/fondoIntenso.png") ;
   background-repeat: no-repeat;
   background-size: cover;     
}

.container{
    max-width: 80%;
    background-image: url("../assets/images/fondo3.png") ;
    background-repeat: no-repeat;
    background-size: cover;    
} */

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {

  margin: auto;
  background-color: aliceblue;
  

  /* background-image: url("../assets/images/fondoIntenso.png") ; */
}

.container {
  /* si  la pantalla se extiende más de 1400px el contenido se centra */
  max-width: 1400px;
  margin: auto;
  background-image: linear-gradient(
  0deg, 
  rgba(251, 242, 253, 0),
  rgba(15, 39, 146, 0),
  rgba(241, 242, 245, 1))

  ,url("../assets/images/fondoIntenso.png") ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}