body{
    /* cambié la foto a una mas intensa  */
   background-image: url("../assets/images/fondoIntenso.png") ;
   background-repeat: no-repeat;
   background-size: cover;     
}

.container{
    max-width: 80%;
    background-image: url("../assets/images/fondo3.png") ;
    background-repeat: no-repeat;
    background-size: cover;    
}

