.container-fluid {
  margin: 0;
  padding: 20px;
}

.profile-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-avatar img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  padding: 0px 0px;
  color: #ffffff;
  border: 0.8px solid #090909;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.profile-info h2 {
  line-height: 1.2;
  font-weight: bold;
  font-size: 1.8rem;
  color: #781184;
  text-align: center;
  max-width: 100%;
  border-bottom: 4px solid purple;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.profile-info p {
  font-size: 1.2rem;
  color: #1c031e;
  text-align: center;
  max-width: 100%;
  border-bottom: 4px solid purple;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.titulosPerfil {
  font-size: 2em;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.titulosTabla {
  font-size: 2em;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  background-color: #fffcfc;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px;
}

.col-md-4 {
  width: 33.33%;
}

.table {
  width: 100%;
  text-align: center;
  background-color: #0D6EFD;
  background-image: linear-gradient(0deg, rgba(216, 234, 252, 1.0), rgba(145, 57, 339, 0.1), rgba(325, 288, 317, 0.1)), url("../../../assets/images/flores.png");
  background-size: 100%;
  background-position: cover;
  background-position-x: center;
}

.table-contoured {
  border: 1px solid #760787;
  border-radius: 4px;
}

.table thead th {
  font-weight: bold;
  color: black;
  background-color: #fffdfd;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5em;
}

.table tbody td {
  padding: 10px;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.4em;
}

.table tbody tr:nth-child(even) {
  background-color: #091d803a;
}

.table tbody tr:hover {
  background-color: #f2f2f2;
}

.btn-success {
  margin-bottom: 10px;
  margin-top: 2px;
  background-color: #0bc11a;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 0.9em;
  padding: 9px 14px;
}

.cancel-btn {
  margin-bottom: 10px;
  margin-top: 2px;
  background-color: #c1350b;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 0.8em;
  padding: 10px 12px;
}

.cancel-btn:hover {
  background-color: #c82333;
}

.reservation {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  padding: 10px;
  margin-bottom: 10px;
}

.profile-card-reserva-historial h3 {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  font-size: 2em;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  padding: 20px;
}

h3,
.date,
.service,
.time {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.profile-card-reserva-historial {
  max-height: 400px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #eae3ee95;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
}

.details {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

h5 {
  font-size: large;
  font-weight: bold;
  text-decoration: underline;
}

.comentarios {
  margin-top: 1px;
}

.comentario {
  margin-bottom: 10px;
}

.comentario strong {
  font-weight: bold;
}

.comentario .fecha {
  color: #999;
  font-style: italic;
}

.config-section {
  max-width: 70%;
  max-height: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-image: linear-gradient(0deg, rgba(88, 83, 83, 0.089), rgba(0, 0, 0, 0.2)), url("../../../assets/images/flores.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  margin-left: 15%;
}

.configuracion {
  font-size: 1.2em;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  justify-content: center;
  padding: 2px;
  background-color: #d2c9d2dc;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  border: 1px solid #676568;
  margin-bottom: 2px;
  margin-top: 2px;
  margin-left: 5%;
  margin-right: 5%;
}

.configuracion h1 {
  font-size: 2em;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  padding-top: 4px;
  text-align: center;
}

.configuracion h2 {
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin: 15px;
  padding: 2px;
}

.configuracion button {
  font-size: 1em;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  justify-content: center;
  padding: 10px;
  background-color: #781184;
  color: white;
  border-radius: 5px;
  border: 1px solid #781184;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  margin: 5px 10px 1px;
}

.configuracion button:hover {
  background-color: #520c5a;
}

.configuracion .delete {
  background-color: #c83232;
  color: white;
  border-radius: 5px;
  border: 1px solid #140415;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.configuracion .delete:hover {
  background-color: #8e1414;
}

@media (max-width: 940px) {

  .card {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 1%;
    padding-right: 5%;
    margin-left: 5%;

  }




  .titulosPerfil {
    font-size: 1.5em;
  }

  .profile-avatar img {
    width: 110px;
    height: 120px;
  }

  .profile-info h2 {
    font-size: 1.5em;
  }



  .titulosTabla {
    font-size: 1.5em;
  }

  .table thead th {
    font-weight: bold;
    color: black;
    background-color: #fffdfd;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
  }

  .table tbody td {
    padding: 10px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
  }

  .cancel-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 2px 3px;
    border-radius: 4px;
    cursor: pointer;
  }
}

@media (max-width: 768px) {

  .card {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 1%;
    padding-right: 5%;
    margin-left: 10%;

  }




  .titulosPerfil {
    font-size: 1.5em;
    text-align: center;
  }

  .profile-avatar img {
    width: 110px;
    height: 120px;
  }

  .profile-avatar {
    text-align: center;

  }


  .configuracion h1 {
    font-size: 1.8em;
    font-family: 'Times New Roman', Times, serif;
  }

  .configuracion h2 {
    font-size: 1.2em;
  }

  .configuracion button {
    font-size: 1em;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    justify-content: center;
    padding: 7px;
    background-color: #781184;
    color: white;
    border-radius: 5px;
    border: 1px solid #781184;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    margin: 5px 10px 1px;
  }
}

@media (max-width: 480px) {
  .profile-avatar img {
    width: 80px;
    height: 80px;
  }


  .configuracion h1 {
    font-size: 1.2em;
    font-family: 'Times New Roman', Times, serif;
  }

  .configuracion h2 {
    font-size: 1em;
  }

  .configuracion button {
    font-size: 0.9em;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    justify-content: center;
    padding: 7px;
    background-color: #781184;
    color: white;
    border-radius: 5px;
    border: 1px solid #781184;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    margin: 5px 10px 1px;
  }


}