<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <div class="profile-card">
        <div class="profile-avatar">
          <img src="../../../assets/images/user.png" alt="Avatar">

          <button type="button" class="edit-avatar" data-bs-toggle="modal" data-bs-target="#exampleModal"
            data-bs-whatever="@fat">Editar Perfil</button>
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Editar información personal</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="mb-3">
                      <label for="recipient-nombre" class="col-form-label">Nombre</label>
                      <input type="text" class="form-control" id="recipient-nombre"[placeholder]="nombrePlaceholder">
                    </div>
                    <div class="mb-3">
                      <label for="recipient-apellido" class="col-form-label">Apellido</label>
                      <input type="text" class="form-control" id="recipient-apellido" [placeholder]="apellidoPlaceholder">
                    </div>
                    <div class="mb-3">
                      <label for="recipient-telefono" class="col-form-label">Teléfono de contacto</label>
                      <input type="text" class="form-control" id="recipient-telefono" placeholder="{{ telefonoPlaceholder }}"  minlength="8" maxlength="8">
                    </div>
                    <div class="input-group mb-3">
                      <label for="recipient-telefono" class="col-form-label">Seleccione una imagen</label>
                    </div>
                    <div>
                      <input type="file" class="form-control" id="inputGroupFile01">
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-success" onclick="updateDataUser()">Actualizar Cambios</button>
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                  
                </div>
              </div>
            </div>
          </div>
        </div>














        <div class="profile-info" *ngFor="let user of dataUser">
          <h2>{{user.nombre}} {{user.apellido}}</h2>
          <p>Correo electrónico: {{ userEmail }}</p>
          <p>Teléfono: {{user.telefono}}</p>
        </div>
        <div class="profile-actions">
          <button class="edit-info-btn">Editar Información</button>
          <button class="change-password">Cambiar Contraseña</button>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="profile-card-reserva">
        <h3 id="misreservas">Mis Reservas</h3>
        <div class="reservation">
          <h4>Reserva #1</h4>
          <p class="service"><strong>Servicio:</strong> Masaje capilar relajante</p>
          <p class="date"><strong>Fecha:</strong> 22 de Mayo, 2023</p>
          <p class="time"><strong>Hora:</strong> 10:00 AM</p>
          <button class="cancel-btn">Cancelar reserva</button>
        </div>
        <div class="reservation">
          <h4>Reserva #2</h4>
          <p class="service"><strong>Servicio:</strong> Limpieza de manos</p>
          <p class="date"><strong>Fecha:</strong> 28 de Mayo, 2023</p>
          <p class="time"><strong>Hora:</strong> 3:00 PM</p>
          <button class="cancel-btn">Cancelar reserva</button>
        </div>
        <div class="reservation">
          <h4>Reserva #3</h4>
          <p class="service"><strong>Servicio:</strong> Corte de pelo</p>
          <p class="date"><strong>Fecha:</strong> 1 de Junio, 2023</p>
          <p class="time"><strong>Hora:</strong> 11:00 AM</p>
          <button class="cancel-btn">Cancelar reserva</button>
        </div>
      </div>
    </div>
      
  </div>
</div>

<!-- historial de reserva  -->
<div class="col">
  <div class="profile-card-reserva-historial">
    <h3>Historial de Reservas Realizadas</h3>
    <div class="reservation">
      <h4>Reserva #1</h4>
      <div class="details">
        <p class="service"><strong>Servicio:</strong> Masaje capilar relajante</p>
        <p class="date"><strong>Fecha:</strong> 28 de Mayo, 2023</p>
        <p class="time"><strong>Hora:</strong> 3:00 PM</p>
      </div>
      <div class="comentarios">
        <h5>Comentarios:</h5>
        <div class="comentario">
          <strong>Usuario:</strong> "Me gustó mucho el servicio, volveré pronto."
          <span class="fecha">- 25 de Mayo, 2023</span>
        </div>
      </div>
    </div>
    <div class="reservation">
      <h4>Reserva #2</h4>
      <div class="details">
        <p class="service"><strong>Servicio:</strong> Limpieza de manos</p>
        <p class="date"><strong>Fecha:</strong> 28 de Mayo, 2023</p>
        <p class="time">Hora: 3:00 PM</p>
      </div>
      <div class="comentarios">
        <h5>Comentarios:</h5>
        <div class="comentario">
          <strong>Usuario:</strong> "Excelente servicio, lo recomiendo."
          <span class="fecha">- 30 de Mayo, 2023</span>
        </div>
      </div>
    </div>
    <div class="reservation">
      <h4>Reserva #3</h4>
      <div class="details">
        <p class="service"><strong>Servicio:</strong> Corte de pelo</p>
        <p class="date"><strong>Fecha:</strong> 1 de Junio, 2023</p>
        <p class="time"><strong>Hora:</strong> 11:00 AM</p>
      </div>
      <div class="comentarios">
        <h5>Comentarios:</h5>
        <div class="comentario">
          <strong>Usuario:</strong> "No me gustó el resultado, esperaba algo mejor."
          <span class="fecha">- 3 de Junio, 2023</span>
        </div>
      </div>
    </div>
  </div>
</div>