<div class="container-fluid" >
  <div class="row">
    <div class="col-6">
      <div class="profile-card">
          <div class="profile-avatar">
            <img src="../../../assets/images/user.png" alt="Avatar">
            <button class="edit-avatar">Editar Perfil</button>
          </div>
          <div class="profile-info" *ngFor="let user of dataUser">
            <h2>{{user.nombre}} {{user.apellido}}</h2>
            <p>Correo electrónico: {{ userEmail }}</p>
            <p>Teléfono: {{user.telefono}}</p>
          </div>
          <div class="profile-actions">
            <button class="edit-info-btn">Editar Información</button>
            <button class="change-password">Cambiar Contraseña</button>
          </div>
      </div>
    </div>
    <div class="col-6">        
      <div class="profile-card-reserva">
        <h3 id="misreservas">Mis Reservas</h3>
        <div class="reservation">
          <h4>Reserva #1</h4>
          <p class="service"><strong>Servicio:</strong> Masaje capilar relajante</p>
          <p class="date"><strong>Fecha:</strong> 22 de Mayo, 2023</p>
          <p class="time"><strong>Hora:</strong> 10:00 AM</p>
          <button class="cancel-btn">Cancelar reserva</button>
        </div>
        <div class="reservation">
          <h4>Reserva #2</h4>
          <p class="service"><strong>Servicio:</strong> Limpieza de manos</p>
          <p class="date"><strong>Fecha:</strong> 28 de Mayo, 2023</p>
          <p class="time"><strong>Hora:</strong> 3:00 PM</p>
          <button class="cancel-btn">Cancelar reserva</button>
        </div>
        <div class="reservation">
          <h4>Reserva #3</h4>
          <p class="service"><strong>Servicio:</strong> Corte de pelo</p>
          <p class="date"><strong>Fecha:</strong> 1 de Junio, 2023</p>
          <p class="time"><strong>Hora:</strong> 11:00 AM</p>
          <button class="cancel-btn">Cancelar reserva</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="col">
  <div class="profile-card-reserva-historial">
    <h3>Historial de Reservas Realizadas</h3>
    <div class="reservation">
      <h4>Reserva #1</h4>
      <div class="details">
        <p class="service"><strong>Servicio:</strong> Masaje capilar relajante</p>
        <p class="date"><strong>Fecha:</strong> 28 de Mayo, 2023</p>
        <p class="time"><strong>Hora:</strong> 3:00 PM</p>
      </div>
      <div class="comentarios">
        <h5>Comentarios:</h5>
        <div class="comentario"> 
          <strong>Usuario:</strong> "Me gustó mucho el servicio, volveré pronto."
          <span class="fecha">- 25 de Mayo, 2023</span>
        </div>
      </div>
    </div>
    <div class="reservation">
      <h4>Reserva #2</h4>
      <div class="details">
        <p class="service"><strong>Servicio:</strong> Limpieza de manos</p>
        <p class="date"><strong>Fecha:</strong> 28 de Mayo, 2023</p>
        <p class="time">Hora: 3:00 PM</p>
      </div>
      <div class="comentarios">
        <h5>Comentarios:</h5>
        <div class="comentario">
          <strong>Usuario:</strong> "Excelente servicio, lo recomiendo."
          <span class="fecha">- 30 de Mayo, 2023</span>
        </div>
      </div>
    </div>
    <div class="reservation">
      <h4>Reserva #3</h4>
      <div class="details">
        <p class="service"><strong>Servicio:</strong> Corte de pelo</p>
        <p class="date"><strong>Fecha:</strong> 1 de Junio, 2023</p>
        <p class="time"><strong>Hora:</strong> 11:00 AM</p>
      </div>
      <div class="comentarios">
        <h5>Comentarios:</h5>
        <div class="comentario">
          <strong>Usuario:</strong> "No me gustó el resultado, esperaba algo mejor."
          <span class="fecha">- 3 de Junio, 2023</span>
        </div>
      </div>
    </div>
  </div>
</div>


 
  <!--<div class="profile-body">
      <h3>Mi información personal</h3>
      <form>
        <div class="form-group">
          <label for="name">Nombre</label>
          <input type="text" id="name" name="name" value="John" required>
        </div>
        <div class="form-group">
          <label for="last-name">Apellido</label>
          <input type="text" id="last-name" name="last-name" value="Doe" required>
        </div>
        <div class="form-group">
          <label for="email">Correo electrónico</label>
          <input type="email" id="email" name="email" value="johndoe@example.com" required>
        </div>
        <div class="form-group">
          <label for="phone">Teléfono</label>
          <input type="tel" id="phone" name="phone" value="+1 123456789" required>
        </div>
        <button class="save-btn" type="submit">Guardar cambios</button>
      </form>
    </div>-->