<section class="container-fluid">
  <div class="row ">
    <div class="col-md-3 pt-4">
      <div class="card">
        <div class="card-body" id="first-card">
          <h3 class="titulosPerfil"> MI PERFIL </h3>
          <div class="profile-avatar">
            <img [src]="imagePath" alt="Avatar">

            <!-- muestra la informacion del usuario debajo del avatar -->
            <div class="profile-info pt-2" *ngFor="let user of dataUser">
              <h2>{{user.nombre}} {{user.apellido}}</h2>
              <p><strong>Correo electrónico:</strong> {{userEmail}}</p>
              <p><strong>Teléfono:</strong> {{user.telefono}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-9 pt-3">
      <section class="tabla">
        <h1 class="titulosTabla">MIS RESERVAS</h1>
        <div class="table-responsive">
          <table class="table table-contoured mb-0">

            <thead>

              <tr>
                <th scope="col">Servico</th>
                <th scope="col">Fecha</th>
                <th scope="col">Hora de Inicio</th>
                <th scope="col">Hora de Término</th>
                <th scope="col" id="botonEstado">Estado Cliente</th>
                <th scope="col">Cancelar Reserva</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let reserva of dataReservas; let i = index">
                <td>{{ reserva.servicio }} </td>
                <td>{{ reserva.fecha }}</td>
                <td>
                  {{ reserva.horaInicio }}
                </td>
                <td>{{ reserva.horaTermino }}</td>
                <td class="pb-5 m-0">
                  <button class="btn-success" id="botonEstado">Confirmado</button>
                </td>
                <td> <button class="cancel-btn" (click)="eliminarReserva(reserva.id)">Cancelar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </div>
</section>


<!-- historial de reserva  -->
<section class="histo-reserva">
  <div class="col">
    <div class="profile-card-reserva-historial">
      <h3>Historial de Reservas Realizadas</h3>
      <div class="reservation">
        <h4><strong>Reserva #1</strong></h4>
        <div class="details">
          <p class="service"><strong>Servicio:</strong> Masaje capilar relajante</p>
          <p class="date"><strong>Fecha:</strong> 28 de Mayo, 2023</p>
          <p class="time"><strong>Hora:</strong> 3:00 PM</p>
        </div>
        <div class="comentarios">
          <h5>Comentarios:</h5>
          <div class="comentario">
            <strong>Usuario:</strong> "Me gustó mucho el servicio, volveré pronto."
            <span class="fecha">- 25 de Mayo, 2023</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="config-section">
  <div class="configuracion">

    <h1>Configuraciones</h1>
    <div class="profile-actions">

      <!-- boton para editar perfil -->
      <button class="edit-btn" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@fat">Editar
        Perfil</button>

      <!-- boton para cambiar el correo electronico -->
      <button class="change-email-btn" data-bs-toggle="modal" data-bs-target="#cambiarEmailModal">Cambiar Correo
        Electrónico</button>

      <!-- boton para cambiar la contraseña -->
      <button class="change-password-btn" data-bs-toggle="modal" data-bs-target="#cambiarPasswordModal">Cambiar
        Contraseña</button>
    </div>
    <!-- Para eliminar la cuenta de usuario  -->
    <div class="eliminar-cuenta">
      <h2>Eliminar Cuenta</h2>
      <button class="delete" (click)="eliminarCliente()">Eliminar Cuenta</button>
    </div>
  </div>
</section>


<!-- Modals varios -->

<!--modal para modificar la información personal del cliente  -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar información personal</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- cuando se envie la informacion se ejecuta la funcion de edit  -->
        <form #editarPerfilForm="ngForm" (ngSubmit)="handleEditarPerfil(editarPerfilForm.value, fileInput)">
          <div class="mb-3">
            <label for="recipient-nombre" class="col-form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre-perfil" name="nombre-perfil" [(ngModel)]="nombrePerfil">
          </div>
          <div class="mb-3">
            <label for="recipient-apellido" class="col-form-label">Apellido</label>
            <input type="text" class="form-control" id="apellido-perfil" name="apellido-perfil"
              [(ngModel)]="apellidoPerfil">
          </div>
          <div class="mb-3">
            <label for="recipient-telefono" class="col-form-label">Teléfono de contacto</label>
            <input type="text" class="form-control" id="telefono-perfil" name="telefono-perfil"
              [(ngModel)]="telefonoPerfil" minlength="8" maxlength="8">
          </div>
          <div class="input-group mb-3">
            <label for="recipient-imagen" class="col-form-label">Seleccione una imagen</label>
          </div>
          <div>
            <input type="file" class="form-control" id="inputGroupFile01" #fileInput>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal"
          (click)="editarPerfilForm.ngSubmit.emit()">Actualizar Cambios</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>

      </div>
    </div>
  </div>
</div>




<!-- modal para correo electronico -->
<div class="modal fade" id="cambiarEmailModal" tabindex="-1" aria-labelledby="cambiarEmailModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="cambiarEmailModaLabel">Editar correo electronico </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">


        <!-- cuando se envie la informacion se ejecuta la funcion de edit  -->
        <form #cambiarEmailForm="ngForm" (ngSubmit)="handleEditarCorreo(cambiarEmailForm.value)">
          <div class="mb-3">
            <label for="recipient-email-actual" class="col-form-label">Correo electrónico actual</label>
            <input type="email" class="form-control" id="email-actual" name="email-actual" readonly
              [(ngModel)]="userEmail">
          </div>
          <div class="mb-3">
            <label for="recipient-email-nuevo" class="col-form-label"> Nuevo Correo Electrónico</label>
            <input type="email" class="form-control" id="email-nuevo" name="email-nuevo" ngModel>
          </div>
          <div class="mb-3">
            <label for="recipient-email-confirmar" class="col-form-label"> Confirmar Correo Electrónico</label>
            <input type="email" class="form-control" id="email-confirmar" name="email-confirmar" ngModel>
          </div>

        </form>
        <div class="modal-footer">

          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-bs-dismiss="modal"
              (click)="cambiarEmailForm.ngSubmit.emit()">Actualizar Cambios</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- modal para cambiar la contraseña -->
<div class="modal fade" id="cambiarPasswordModal" tabindex="-1" aria-labelledby="cambiarPasswordModal"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="cambiarPasswordLabel">Editar contraseña</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #editarPasswordForm="ngForm" (ngSubmit)="handleEditarPassword(editarPasswordForm.value)">
          <div class="mb-3">
            <label for="recipient-password-nuevo" class="col-form-label"> Nueva Contraseña</label>
            <input type="password" class="form-control" id="password-nuevo" name="password-nuevo" ngModel>
          </div>
          <div class="mb-3">
            <label for="recipient-password-confirmar" class="col-form-label"> Confirmar Contraseña</label>
            <input type="password" class="form-control" id="password-confirmar" name="password-confirmar" ngModel>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-bs-dismiss="modal"
              (click)="editarPasswordForm.ngSubmit.emit()">Actualizar Cambios</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>