.tituloGestion {
  text-align: start;
  font-size: 2.1em;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  color: rgb(6, 0, 0);
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(154, 56, 214, 0.322);
}

.container-fluit {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.row {
  padding: 0;
  margin: 0;
}
#botonAgregarServicio{
  background-color: #0bc11a;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1.5em;
  padding: 2px 2px 2px;
  
}
#botonAgregarServicio:hover{
  background-color: #04470a;
}



.table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 30px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}




td {
  border: 1px solid #ddd;
  background-color: #fff;
  text-align: center;
  font-size: 1em;
  vertical-align: text-top;

}


.titulosServ {
  font-size: 1em;
  padding: 7px 4px;
  text-align: justify;
}
.des {
  font-size: 1em;
  padding: 7px 4px;
  text-align: justify;
}



button {
  font-size: 0.8em;
  padding:  2px 2px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 617px) {
  #botonAgregarServicio{
    font-size: 1.1em;
    padding: 1px 1px;
    margin: 0px;
  }


  .tituloGestion{
    font-size: 1.8em;
    width: 100%;
   
  }
  table {
    font-size: 0.8em;
    overflow-x: auto;
    justify-content: center center;
  }

  th {
    font-size: 1em;
    text-align: center ;
    vertical-align:middle;
    padding: 2px 3px;
  }

  td {
    font-size: 1em;
    padding: 0px 3px;
    text-align: center;
    vertical-align:middle;
  }
}

