* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0);
}

/* Header */
.agenda {
  background-color: #c10079;
  padding: 20px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.tituloagendartuhora {
  font-family: 'Times New Roman', Times, serif;
  text-transform: uppercase;
  font-size: 2.0rem;
  color: #d97d86;
  font-weight: bold;
  text-align: right;
  line-height: 1.2;
  text-shadow: 1px 1px 2px #080808;
  margin-bottom: 20px;
}

.despcagendar {
  font-style: italic;
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 1px 1px 2px black;
  padding: 10px;
  display: block;
  max-width: 100%;
  word-wrap: break-word;
}

.botonagendar {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  background-color: #D97D86;
  border: none;
  border-radius: 2em;
  box-shadow: -5px 15px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
}

.botonagendar:hover {
  background-color: #C10079;
}

/* Carrusel */
.container-carrucel {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.container-carrucel img {
  max-width: 100%;
  display: block;
}

/* Media queries cuando la pantalla es grande*/
@media (min-width: 768px) {
  /* Header */
  .agenda {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .tituloagendartuhora {
    font-size: 3.5rem;
    line-height: 1.2;
    text-align: right;
    padding-right: 45px;
  }

  .despcagendar {
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .botonagendar {
    font-size: 2rem;
    padding: 20px 40px;
  }

  /* Carrusel */
  .container-carrucel {
    width: 65%;
    height: 25%;
    margin: 0 auto;
  }
}





/* Servicios */
.tituloLogo{
    font-family: 'Dancing Script';
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 3%;
    margin-top: 3%;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

.tituloNuestro {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    margin-top: 50px;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px black;
    color: #c10079;
    font-weight: bold;   
    text-align: center;

  }

.descrservicios{
  font-style: italic;
  font-size: 2.2rem;
  margin-bottom: 20px;
  color: #2c2ea8;
  text-shadow: 1px 1px 2px black;
  padding: 10px;
  display: block;
  max-width: 100%;
  word-wrap: break-word;
  text-align: center;
  
}

  /* card de los servicios  */
  #cards-servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    background: white;
  }


   .col-sm-4 {
    padding: 15px;
    text-align: center;
  }
  
  .image-item {

    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    transition: all 1s;
  }
 
  .image-item:hover {
    
    transform: translateY(-3%);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  }

  /* imagenes de las card que no estan tomando  */
  .icard-img-top {
    width: 100%;
    height: auto;
    object-fit: cover;
    vertical-align: middle;

    height: 45vh;
    width: 100%;
    padding: 1%;
    border-radius:52% 48% 44% 56% / 54% 0% 0% 46% ;
    transition: all 1s;
    bottom: -10%;
    border-radius: 45%;
    box-shadow: -5px 15px
      15px rgba(0, 0, 0, 0.5);
  } 
  
  /* botones de los servicios */
  #titulo_servicios {
    margin-top: 15px;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #c10079;
    /* background-color: transparent; */
    border: 2px solid #c10079;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    transition: all 1s;
  }
  
  #titulo_servicios:hover {
    background-color: #c10079;
    color: #fff;
    transform: translateY(-3%);
  }

  
  .descrpservicios {
    margin-top: 15px;
    font-size: 1.2rem;
    color: #2b2a2a;
    background: white;
    line-height: 1.5;
}


/* preguntas frecuentes */

.preguntas {
    background-color: #faf2f7;
    padding: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .titulopreguntas {
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: 2.0rem;
    color: #d9c87d;
    font-weight: bold;
    text-align: right;
    line-height: 1.2;
    text-shadow: 1px 1px 2px #080808;
    margin-bottom: 20px;
  }
  
  .despcpreguntas {
    font-style: italic;
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #6f1ca7;
    text-shadow: 1px 1px 2px black;
    padding: 10px;
    display: block;
    max-width: 100%;
    word-wrap: break-word;
  }
  
  .botonpreguntas {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    background-color: #D97D86;
    border: none;
    border-radius: 2em;
    box-shadow: -5px 15px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .botonpreguntas:hover {
    background-color: #C10079;
  }
  
   
  
  /* Media queries */
  @media (min-width: 768px) {
    /* Header */
    .preguntas {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  
    .titulopreguntas {
      font-size: 3.5rem;
      line-height: 1.2;
      text-align: right;
      padding-right: 45px;
    }
  
    .despcpreguntas {
      font-size: 2rem;
      margin-top: 20px;
      margin-bottom: 40px;
    }
  
    .botonpreguntas {
      font-size: 2rem;
      padding: 20px 40px;
    }
  
   
  }


  
  