#carruselHome .carousel-item {
  /* object-fit: cover; */
  object-position: center;
  width: 60%;
  height: 68vh;
  margin-left: 20%;

}

.text-container {
  font-family: 'Times New Roman', Times, serif;
  margin: 2px 8px;
  padding: 0px 0px;
  text-align: center;
  padding-top: 20px;

}


@media (max-width: 767px) {
  #carruselHome .carousel-item {
    object-fit: cover;
    object-position: center;
    width: 100%;

    margin-left: 0%;
  }

  .carousel-control-next {
    right: 50px;
    height: 319px;
  }

  .carousel-control-prev {
    left: 50px;
    height: 319px;

  }



  #card1 img {
    width: 75%;
    height: 44vh;
  }


  .descrpservicios {
    padding: 0px 12px;
    background-color: rgba(240, 233, 240, 0.163);
    font-size: 0.9em;
  }

  #bienvenida {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.8em;
    background-size: auto;
    background-position-y: center;
    background-repeat: no-repeat;
  }

  .objetivo {
    align-items: start;
    text-align: start;
  }

  #agenda {
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)), url("../../../assets/images/flores.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

}


@media (max-width: 555px) {

  #carruselHome .carousel-item {
    object-fit: cover;
    object-position: center;
    width: 100%;

    margin-left: 0%;
  }



  /* #card1 img {
    width: 60%;
    height: 45vh;
  } */

  .descrpservicios {
    padding: 0px 6px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    background-color: rgba(240, 233, 240, 0.163);
    font-size: 1em;
    text-align: justify;
  }

  #card1 button {
    margin-left: 20px;
  }

  #bienvenida {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.8em;
    background-size: auto;
    background-position-y: center;
    background-repeat: no-repeat;
  }

}



#tituloServicios h1 {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  margin-top: 50px;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px black;
  color: #ae2abf;
  font-weight: bold;
  text-align: center;
  line-height: 1em;
}


#card1 img {
  width: 75%;
  height: 45vh;
  object-position: center;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 12px 12px;
  margin-top: 12px;
  border-radius: 1%;
}


#card1 button {
  font-weight: bold;
  text-shadow: #000;
  font-size: 1.2em;
  padding: 10px 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: white;
  background-color: hsl(271, 78%, 56%);

}

#card1 button:hover {
  background-color: rgb(101, 33, 165);
}


.image-item {
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 1px 2px;
  margin-top: 20px;
  background-image: linear-gradient(0deg,
      rgba(181, 28, 192, 0.1),
      rgba(230, 224, 234, 0.197));
  transition: box-shadow 0.3s ease-in-out;
  transition: all 1s;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  text-align: justify;
}


.image-item:hover {

  transform: translateY(-1%);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.descrpservicios {
  padding: 0px 12px;
  background-color: rgba(240, 233, 240, 0.163);
}

#bienvenida .container {
  display: flex;
  font-size: 1.5em;
  font-style: italic;
  font-weight: bold;
  text-shadow: #000;
  padding: 0px 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  opacity: 1;
}

#agenda {
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)), url("../../../assets/images/flores.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;

}


#bienvenida .objetivo {
  font-size: 2em;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  padding: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 20px;
  background-color: #f3f0f42b;
}

#agenda h2 {

  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  color: #f4f4f4;
  text-shadow: 2px 2px 2px rgba(77, 62, 6, 0.5);

}

#agenda p {
  font-family: 'Times New Roman', Times, serif;
  color: white;
  text-align: end;
  background-color: rgba(0, 0, 0, 0.3);
  border: 2px 2px solid rgba(77, 62, 6, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  margin-left: 30px;
  margin-right: 30px;
  padding: 10px;

}


#agenda button {
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: white;
  background-color: hsl(271, 78%, 56%);
  margin-top: 20px;
  margin-bottom: 20px;


}

#agenda button:hover {
  background-color: rgb(101, 33, 165);
  color: yellow;
}


#agenda span {
  color: yellow;
}


@media (max-width: 767px) {


  #card1 img {
    width: 78%;
    height: 45vh;
  }

  .descrpservicios {
    padding: 0px 12px;
    background-color: rgba(240, 233, 240, 0.163);
    font-size: 0.9em;
  }

  #bienvenida {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.8em;
    background-size: auto;
    background-position-y: center;
    background-repeat: no-repeat;


  }

  /* .carousel-item img {
    width: 100%;
    height: 30%;
  } */


  #bienvenida .container {
    max-width: 727px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 9px;
    padding: 18px 1px 5px;

  #agenda {

    margin-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)), url("../../../assets/images/flores.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


}

@media (max-width: 575px) {

  #carrucelFotos{
    max-width: 575px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

  }

  .carousel-item img {
    width: 100%;
    height: 45vh;
  }

  #card1 img {
    width: 60%;
    height: 30vh;

  }

  .descrpservicios {
    padding: 0px 6px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    background-color: rgba(240, 233, 240, 0.163);
    font-size: 1em;
    text-align: justify;
  }

  #bienvenida .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

  }
  .objetivo{
    font-size: 1.5em;
    
  }

  #bienvenida {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.8em;
    background-size: auto;
    background-position-y: center;
    background-repeat: no-repeat;
  }


}
}