<!-- carrucel con preguntas  -->
<section id="carrucelFotos">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div id="carruselHome" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../assets/images/depilacion1.jpg" class="d-block w-100" alt="Imagen de depilación">
            </div>
            <div class="carousel-item">
              <img src="../assets/images/peluqueria1.jpg" class="d-block w-100" alt="Imagen de peluquería">
            </div>
            <div class="carousel-item">
              <img src="../assets/images/manicure1.jpg" class="d-block w-100" alt="Imagen de manicure">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carruselHome" data-bs-slide="prev">
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carruselHome" data-bs-slide="next">
          </button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="text-container">
          <h2>Bienvenido a <span class="titulo">BeutyCare </span></h2>
          <p>Descubre una amplia variedad de servicios de belleza diseñados para ti. <br> Te invitamos a reservar tu
            servicio de manera rápida y cómoda pinchando en <span>RESERVAR</span></p>
          <button routerLink="/servicios/depilacion">RESERVAR</button>
        </div>
      </div>
    </div>
  </div>
</section>




<!-- código de la sección "Nuestros servicios" -->
<section id="tituloServicios">
  <div class="container">
    <h1>NUESTROS SERVICIOS</h1>
  </div>
</section>



<!-- código de la sección "Nuestros servicios" -->
<section>

  <div id="cards-servicios">
    <div class="row">
      <!-- <div class="col-sm-4" *ngFor="let item of data">
        <div class="image-item text-center">
          <img src="{{item.imagen_horizontal}}" class="card-img-top" alt="Imagen vertical {{item.nombre}}"
            routerLink="{{item.ruta}}">
          <button type="button" class="btn btn-outline-light" id="botonServicios"
            routerLink="{{item.ruta}}">{{item.nombre}}</button>
          <p class="descrpservicios">{{item.descripcion}}</p>
        </div>
      </div> -->


      <!-- reemplazo para el css mientras tanto  -->
      <div class="col-sm-4" id="card1">
        <div class="image-item text-center">
          <img src="../../../assets/images/depilacion2.jpg" class="card-img-top" alt="Imagen vertical"
            routerLink="/servicios/depilacion">
          <button type="button" class="btn btn-outline-light" id="botonServicios"
            routerLink="/servicios/depilacion">Depilación</button>
          <p class="descrpservicios">¡Adiós a los vellos indeseados! Nuestro servicio de depilación te dejará suave y
            sin vellos en las áreas que desees. Contamos con productos de alta calidad para brindarte una experiencia de
            depilación efectiva y cómoda. </p>
        </div>
      </div>
      <div class="col-sm-4" id="card1">
        <div class="image-item text-center">
          <img src="../../../assets/images/peluqueria2.jpg" class="card-img-top" alt="Imagen vertical"
            routerLink="/servicios/peluqueria">
          <button type="button" class="btn btn-outline-light" id="botonServicios"
            routerLink="/servicios/peluqueria">Peluquería</button>
          <p class="descrpservicios">¡Transforma tu cabello en un look espectacular! En nuestro servicio de
            peluquería,
            podrás encontrar cortes, peinados, coloración, tratamientos
            capilares y más. Revisa nuestro catálogo de servicios.</p>
        </div>
      </div>
      <div class="col-sm-4" id="card1">
        <div class="image-item text-center">
          <img src="../../../assets/images/manicure2.jpg" class="card-img-top" alt="Imagen vertical"
            routerLink="/servicios/manicure">
          <button type="button" class="btn btn-outline-light" id="botonServicios"
            routerLink="/servicios/manicure">Manicure</button>
          <p class="descrpservicios">"Descubre una amplia variedad de servicios de belleza diseñados para ti. Explora
            nuestro catálogo de servicios y reserva tu cita en el horario que mejor se ajuste a tus necesidades."
          </p>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- código de la sección "Bienvenida" -->
 <section id="bienvenida">
  <div class="container">
    <div class="agendatexto">
      <p class="objetivo">"Nuestro objetivo <br>
        es realzar tu belleza y hacerte sentir segura y confiada"
      </p>
    </div>

    <div id="agenda">
      <h2>¿Tienes dudas?</h2>
      <p>Queremos hacer tu vida más fácil, por eso te invitamos revisar nuestra sección de Preguntas Frecuentes</p>
      <button routerLink="/preguntfrecuent">Preguntas Frecuentes</button>
    </div>

  </div>
</section>

<div></div>