#titulo-pagina{
    font-family: 'Playfair Display', serif;
    margin-top: 2%;
    margin-bottom: 1%;
   
}

#descripcion-pagina{
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: auto;
    text-align: center;
    color:#0e0d0d;
    padding: 0 18px;    

   
}

#cards-contacto {
  justify-content: center;
  margin-top: 20px;
}

#first-card {
  background-color: #e5cff8;
  color: #0e0d0d;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2em;
  
}

#second-card {
  background-color: #f7f8f3;
  color: #212121;
  font-size: 1.2em;
  font-family: 'Times New Roman', Times, serif;
  ;
}

#third-card {
  background-color:#e5cff8;
  color: #0e0d0d;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2em;
}

.card {
  border-radius: 0%;
  display: flex;
  margin-bottom: 5%;
  border: none;
  
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

p {
  margin: 0%;
}

h3 {
  font-size: 25px;
  padding-bottom: 5%;
  padding-top: 5%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5em;

}

#formularioContacto {
  max-width: 85%;
  font-family: 'Playfair Display', serif;
}

.form-control {
  border-radius: 0%;
  border: 1px solid #212121;
  font-family: 'futura-lt-w01-book', sans-serif;
  margin-bottom: 1%;
}

.btn-enviar {
  background-color: #b170bd;
  color: #f7f8f3;  
  border: 2px solid #212121;
  border-radius: 0%;
  font-family: 'futura-lt-w01-book', sans-serif;
  margin-bottom: 3%;
  text-shadow: 1px 1px 3px black;
  font-size: 1.5rem;
}
.btn-enviar:hover {
  background-color: #4d054e;
  
}

#map {
  height: 60vh;
}