<section id="footer">
   <div class="container">
      <div class="rutas">



         <div class="listado">
            <ul>
               <a href="#">
                  <li>Inicio</li>
               </a>
               <a href="#">
                  <li>Servicios</li>
               </a>
               <a href="#">
                  <li>Contácto</li>
               </a>
               <a href="#">
                  <li>Preguntas frecuentes</li>
               </a>

            </ul>
         </div>


         
      </div>
      <div id="titulo">
         <h1 class="titulofooter">BeautyCare</h1>
         <img class="logo" src="../../../assets/images/logoBeautyCare.png" alt="logo">
      </div>
   </div>
   </section>