
#footer .container{
  background-color: #bac0d9;

  align-items: center;
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;

 

}

.titulofooter {
  font-size: 2em;
  font-weight: bold;
  font-family: 'Dancing Script';
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  
}
.logo {
  margin-left: 40px;
  width: 80px;
  border-radius: 50%;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.1);
  background-image: -webkit-radial-gradient();
  background-image: radial-gradient();
  background-color: #fff;
}

.listado a{
  text-decoration: none;
  list-style-type: none;
  display: flex;

}


.listado li{
  text-decoration: none;
  list-style-type: none;

  

}

.listado{
display: flex;

}